/* Estilo para el título de la lista */
h3 {
    font-size: 24px;
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilo para los elementos de la lista */
.list-element {
    margin-bottom: 15px; /* Espacio inferior entre elementos */
}

/* Estilo para el título de cada comando */
.title-description {
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para el texto de descripción de cada comando */
.list-element p {
    margin-top: 5px; /* Espacio superior */
    color: #666; /* Color del texto de descripción */
}
