
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #1fede6;
    border-bottom: 2px solid #1fede6;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f79c5b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.988);
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e0e0e0;
}

li strong {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}



