/* Estilos para el contenedor principal */
.ang-wrapper-adrian {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

/* Estilos para el título principal */
.ang-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la lista */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista */
.item-list {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Estilos para los párrafos dentro de los elementos de la lista */
.item-list p {
    margin: 0;
    color: #555;
}

/* Estilos para el nombre de los elementos */
.item-list .title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Estilos para la descripción de los elementos */
.item-list .description {
    margin-left: 10px;
}
