/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo gris claro */
}

/* Estilo de la barra lateral */
.sidebar {
    width: 200px;
    height: 100vh; /* Altura completa de la ventana */
    background-color: #343a40; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Habilitar desplazamiento vertical si es necesario */
    transition: width 0.3s ease; /* Animación de transición de ancho */
}

/* Estilo del contenido de la barra lateral */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar ul li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación de cambio de color de fondo */
}

.sidebar ul li:hover {
    background-color: #495057; /* Color de fondo más oscuro al pasar el cursor */
}

/* Animación al hacer clic en un elemento de la lista */
.sidebar ul li.active {
    background-color: #007bff; /* Color de fondo azul para el elemento activo */
}

/* Estilo del texto del elemento activo */
.sidebar ul li.active:hover {
    background-color: #007bff; /* Mantener el color de fondo azul al pasar el cursor */
}

/* Estilo del texto del elemento activo */
.sidebar ul li.active::before {
    content: "\25B6"; /* Icono de flecha hacia la derecha */
    margin-right: 10px;
}

/* Estilo del texto del elemento activo */
.sidebar ul li::before {
    content: "\25BA"; /* Icono de flecha hacia la derecha */
    margin-right: 10px;
    opacity: 0; /* Ocultar por defecto */
    transition: opacity 0.3s ease; /* Animación de transición de opacidad */
}

/* Animación para mostrar el icono de flecha al hacer clic en un elemento */
.sidebar ul li.active::before,
.sidebar ul li:hover::before {
    opacity: 1; /* Mostrar el icono de flecha */
}

