/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo gris claro */
}

/* Estilo para el contenedor */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para los componentes */
app-git,
app-programacion,
app-angular,
app-terminal,
app-html-css-js {
    display: none;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 10px;
}

/* Animación de entrada */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo y animación para los componentes que están visibles */
div > *:not(:first-child) {
    animation: fadeIn 0.5s ease forwards;
}

/* Estilo para el primer componente */
div > :first-child {
    display: block;
    animation: fadeIn 0.5s ease forwards;
}