.navbar {
    background-color: #333;
    color: white;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #ddd;
}