<div>

    <nav class="navbar">
        <ul>
            <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
            <li><a routerLink="/jorge">Jorge</a></li>
            <li><a routerLink="/ibra">Ibra</a></li>
            <li><a routerLink="/samantha">Samantha</a></li>
            <li><a routerLink="/ramon">Ramón</a></li>
            <li><a routerLink="/marco">Marco</a></li>
            <li><a routerLink="/marcos">Marcos</a></li>
            <li><a routerLink="/sebastian">Sebastián</a></li>
            <li><a routerLink="/carlos">Carlos</a></li>
            <li><a routerLink="/adrian">Adrián</a></li>
        </ul>
    </nav>
    
</div>