.sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    background-color: antiquewhite;
    animation: aparecerPorArriba 5s forwards;
}

@keyframes aparecerPorArriba {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar ul li {
    margin-right: 50px;
    cursor: pointer;
}

.sidebar ul li:last-child {
    margin-right: 0;
}

.sidebar ul li:hover {
    color: rgb(255, 255, 255); 
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}