.sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    background-color: antiquewhite;
    animation: aparecerPorArriba 5s forwards;
}

@keyframes aparecerPorArriba {
    from {
        opacity: 0;
        transform: translatez(-30px);
    }
    to {
        opacity: 1;
        transform: translatez(0);
    }
}


.sidebar ul li {
    margin-right: 50px;
    cursor: pointer;
}

.sidebar ul li:last-child {
    margin-right: 0;
}

.sidebar ul li:hover {
    color: blue; 
}