.js-wrapper {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    border: 5px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    animation: aparecerPorIzquierda 5s forwards;
}

@keyframes aparecerPorIzquierda {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.js-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.section-wrapper {
    margin-bottom: 20px;
}

.section-title {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}

.item-list {
    margin-bottom: 10px;
}

.item-list p {
    display: inline;
    margin-right: 10px;
}

.item-list p:first-child {
    font-weight: bold; 
}

.item-list p:last-child {
    color: #000000;
}