<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../html-css-js/html-css-js.component.css">
</head>

<body>
    <section>
        <h2>HTML</h2>
            <p>Es el componente más básico de la Web. Define el significado y la estructura del contenido web. Además de HTML, generalmente se utilizan otras tecnologías para describir la apariencia/presentación de una página web (CSS) o la funcionalidad/comportamiento (JavaScript).</p>
            <p>En pocas palabras, es el lenguaje de marcado que usamos para estructurar y dar significado a nuestro contenido web, por ejemplo, definiendo párrafos, encabezados y tablas de datos, o insertando imágenes y videos en la página.</p>
                <ul>
                    <li><strong>Los 10 códigos más importantes del HTML son:</strong>
                        <ul>
                            <p><li><code>&lt;html&gt;</code>: se lo conoce como elemento raíz porque está en la raíz del árbol de elementos que conforman una página web.</li></p>
                            <p><li><code>&lt;header&gt;</code>: contiene información sobre la página web, a diferencia del contenido de la web en sí. Hay muchos elementos que puedes poner dentro del elemento del encabezado, como: título, enlace, meta y script.</li></p>
                            <p><li><code>&lt;title&gt;</code>: esta etiqueta contiene el título de la página. El título se muestra en la barra de título del navegador (en la parte superior de la ventana del navegador), así como en marcadores, resultados en las tendencias de búsqueda de Google y muchos otros lugares. El título debe describir el contenido de la página de manera precisa. Intenta dar a cada página de tu sitio su propio título único.</li></p>
                            <p><li><code>&lt;body&gt;</code>: aparece después del elemento principal en la página. Debe contener toda la información de tu sitio web: texto, imágenes, etc. Todas las páginas web tienen un elemento de cuerpo único, con la excepción de las páginas de conjunto de marcos.</li></p>
                            <p><li><code>&lt;h1&gt;</code>: los encabezados te permiten dividir el contenido de tu página en fragmentos legibles. Funcionan de manera muy similar a los títulos y subtítulos en un libro o un informe. HTML admite 6 elementos de encabezado: h1, h2, h3, h4, h5 y h6.</li></p>
                            <p><li><code>&lt;p&gt;</code>: este elemento te permite crear párrafos de texto. La mayoría de los navegadores muestran párrafos con un espacio vertical entre cada uno de ellos, separando muy bien el texto.</li></p>
                            <p><li><code>&lt;a&gt;</code>: permite crear enlaces a otro contenido. El contenido puede estar en tu propio sitio o en cualquier otro.</li></p>
                            <p><li><code>&lt;img&gt;</code>: permite insertar imágenes en una página web.</li></p>
                            <p><li><code>&lt;div&gt;</code>: es un contenedor genérico que puedes usar para agregar más estructura al contenido de tu página. Por ejemplo, puedes agrupar varios párrafos o encabezados que tengan un propósito similar en un elemento div.</li></p>
                            <p><li><code>&lt;ol&gt;&lt;ul&gt;</code>: Para crear una lista numerada deberás utilizar la etiqueta &gt;ol&gt; (que significa ordered list). Mientras que la etiqueta &gt;li&gt; (list item) identificará cada elemento de la lista.</li></p>
                        </ul>
                    </li>
                </ul>
    </section>

    <section>
        <h2>CSS</h2>
            <p>Es un lenguaje informático que especifica cómo se presentan los documentos a los usuarios: cómo se diseñan, compaginan, etc.</p>
            <p>Es decir, es un lenguaje de reglas de estilo que usamos para aplicar estilo a nuestro contenido HTML, por ejemplo, establecer colores de fondo y tipos de letra, y distribuir nuestro contenido en múltiples columnas.</p>
                <ul>
                    <li><strong>Los códigos de CSS más frecuentes son:</strong>
                        <ul>
                            <li><code>color</code>: permite cambiar el color del texto o de un fondo.</li>
                            <li><code>font-family</code>: define el tipo de letra que se utilizará.</li>
                            <li><code>font-size</code>: establece el tamaño de la fuente.</li>
                            <li><code>text-align</code>: alinea el texto a la izquierda, derecha o centrado.</li>
                            <li><code>margin</code>: añade espacios alrededor de un elemento.</li>
                            <li><code>padding</code>: añade espacios dentro de un elemento</li>
                        </ul>
                    </li>
                </ul>
    </section>

    <section>
        <h2>JavaScript</h2>
            <p>Es un lenguaje de programación o de secuencias de comandos que te permite implementar funciones complejas en páginas web, cada vez que una página web hace algo más que sentarse allí y mostrar información estática para que la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de Gráficos 2D/3D, desplazamiento de máquinas reproductoras de vídeo, etc., puedes apostar que probablemente JavaScript está involucrado.</p>
            <p>En resumen, es un lenguaje de secuencias de comandos que te permite crear contenido de actualización dinámica, controlar multimedia, animar imágenes y prácticamente todo lo demás.</p>
                <ul>
                    <li><strong>Estos son algunos conceptos y técnicas fundamentales que pueden considerarse como la base del conocimiento en JavaScript:</strong>
                        <ul>
                            <p><li><code>Manejo de eventos</code>: aprender a responder a acciones del usuario, como hacer clic en un botón o mover el mouse.</li></p>
                            <p><li><code>Manipulación del DOM</code>: trabajar con los elementos de la página web, como agregar o eliminar contenido dinámicamente.</li></p>
                            <p><li><code>Uso de funciones</code>: crear funciones reutilizables para realizar tareas específicas.</li></p>
                            <p><li><code>Gestión de estructuras de datos</code>: comprender cómo trabajar con arrays, objetos y otros tipos de datos.</li></p>                      
                            <p><li><code>Validación de formularios</code>: validar la entrada del usuario en formularios web.</li></p>                        
                            <p><li><code>Optimización del rendimiento</code>: aprender a escribir códigos más eficientes.</li></p>                      
                        </ul>
                    </li>
                </ul>
    </section>
</body>
